# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/cms-web/node_modules
/cms-web/.pnp
/cms-web/.pnp.js

# testing
/cms-web/coverage

# production
/cms-web/build

# misc
/cms-web/.DS_Store
/cms-web/.env.local
/cms-web/.env.development.local
/cms-web/.env.test.local
/cms-web/.env.production.local

/cms-web/npm-debug.log*
/cms-web/yarn-debug.log*
/cms-web/yarn-error.log*
/ContactManagement/.idea
/ContactManagement/.mvn
/ContactManagement/.iws
/ContactManagement/.iml
/ContactManagement/.ipr
/ContactManagement/target/
### VS Code ###
/cms-web/.vscode/